@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 200px;
}

@media (max-width: 1300px) {
    .container {
        padding: 0 100px;
    }
}

@media (max-width: 1000px) {
    .container {
        padding: 0 50px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 0 15px;
    }
}

.gradient_top {
    background: linear-gradient(45deg, #383638 3%, #0b0b0b 48%);
}

/* ---------------------------------------HEADER----------------------------- */

header {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: #8b8e99;
    cursor: pointer;
    transition: 300ms;
}

.burger_menu {
    display: none;
}

@media (max-width: 900px) {
    header ul {
        display: none;
    }

    .burger_menu {
        display: flex;
    }
}

header li {
    transition: 300ms;
}

header li:hover {
    color: white;
}

header select {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    color: #8b8e99;
    outline: none;
    cursor: pointer;
    transition: 300ms;
}

header select:hover {
    color: white;
}

.header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header_right img {
    cursor: pointer;
}

.header_right_icons {
    transition: 300ms;
}

.header_right_icons:hover {
    opacity: 70%;
}

@media (max-width: 500px) {
    .header_right_icons {
        display: none;
    }
}

/* ---------------------------------------HERO----------------------------- */

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-bottom: 20px;
}

.hero_left {
    width: 457px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.hero_left h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 125.5%;
}

.hero_left p {
    color: #8b8e99;
    line-height: 125.5%;
}

.hero_input {
    position: relative;
}

.hero_input input {
    width: 300px;
    background-color: white;
    padding: 15px 60px;
    border-radius: 15px;
    outline: none;
    border: transparent;
}

.hero_input input::placeholder {
    color: #8b8e99;
    opacity: 70%;
    font-size: 16px;
}

.hero_input img {
    position: absolute;
    top: 15px;
    left: 20px;
}

.hero_input button {
    padding: 7px 13px;
    border-radius: 9px;
    background-color: #3858d6;
    color: white;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 6px;
    right: 7px;
    cursor: pointer;
    transition: 300ms;
}

.hero_input button:hover {
    background-color: transparent;
    border: 1px solid #3858d6;
    color: #3858d6;
}

@media (max-width: 950px) {
    .hero_right {
        display: none;
    }

    .hero {
        justify-content: center;
    }

    .hero_left {
        width: 80%;
        align-items: center;
        text-align: center;
    }

    .hero_left h1 {
        font-size: 48px;
    }

    .hero_left p {
        font-size: 14px;
        color: #8b8e99;
        line-height: 125.5%;
    }

    .hero_input input::placeholder {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .hero_left {
        width: 100%;
    }

    .hero_input input {
        width: 250px;
        padding: 10px 40px;
    }

    .hero_input img {
        width: 17px;
        top: 12px;
        left: 10px;
    }

    .hero_input button {
        padding: 5px 9px;
        top: 3px;
        right: 5px;
    }
}

/* ---------------------------------------WATCHES----------------------------- */

.watches {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.watch_card {
    width: 290px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: #f6f6f6;
    padding: 30px;
    border-radius: 22px;
}

@media (max-width: 1300px) {
    .watch_card {
        width: min-content;
    }
}

.watch_card h3 {
    font-family: "Inter";
    font-weight: bold;
    font-size: 36px;
}

.watch_card p {
    margin-top: 10px;
    font-family: "Inter";
    color: #8b8e99;
}

/* ---------------------------------------LATEST PRODUCTS----------------------------- */

.smart__wath__title {
    margin-top: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 64px;
}

.card__smart__watch {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
}

.smart__wath__title h3 {
    color: #3858d6;
    font-size: 16px;
    font-weight: 500;
}

.smart__wath__title h2 {
    color: #1e1d1d;
    font-size: 36px;
    font-weight: 700;
}

.smart__watches {
    width: 335px;
    height: 440px;
}

.smart__watches__image {
    max-width: 334px;
    max-height: 337px;
    padding: 28px 40px;
    background-color: #f6f6f6;
}

.smart__watch__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smart__watch__body strong {
    font-size: 24px;
    font-weight: 600;
    margin-top: 12px;
}

.star {
    display: flex;
    gap: 6px;
    margin: 8px;
}

.discount__price span {
    font-size: 24px;
    font-weight: 600;
}

.discount__price del {
    font-size: 20px;
    font-weight: 500;
    color: #8b8e99;
}

.view__btn {
    margin-top: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view__btn button {
    padding: 8px 40px;
    border-radius: 15px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    border: none;
    background-color: #3858d6;
    cursor: pointer;
}

.review__card__wrapper {
    display: flex;
    gap: 38px;
    align-items: center;
    justify-content: center;
}

.review__card {
    max-width: 524px;
    min-height: 238px;
    background-color: #f6f6f6;
    border-radius: 22px;
    display: flex;
    align-items: center;
    object-fit: contain;
    gap: 28px;
    padding: 30px;
}

.review__card__body {
    display: flex;
    flex-direction: column;
}

.review__card__body h4 {
    font-size: 24px;
    font-weight: 700;
    color: #1e1d1d;
    margin-left: 10px;
}

.review__card__body p {
    font-size: 16px;
    padding-left: 10px;
    font-weight: 500;
    color: #8b8e99;
    max-width: 254px;
    margin: 10px 0;
}

.next__page__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
}

.subscribe__section {
    width: 100%;
    max-height: 377px;
    margin-top: 134px;
    background-color: #f6f6f6;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
}

.subscribe__title {
    display: flex;
    flex-direction: column;
}

.subscribe__title h1 {
    font-size: 36px;
    font-weight: 700;
    color: #1e1d1d;
}

.subscribe__title p {
    font-size: 16px;
    font-weight: 500;
    margin: 12px;
    color: #8b8e99;
}

.subscribe__image {
    margin-top: 30px;
}

footer {
    margin-top: 90px;
    max-width: 100%;
    background-color: #000;
    padding: 14px;
}

.footer__body p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.footer__body {
    display: flex;
    align-items: center;
    justify-content: center;
}